
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Home | Altasio LLC</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
   	<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/main-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/skins/all.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme_light.css}" type="text/css" id="skin_color"/>
    <link rel="stylesheet" th:href="@{/css/print.css}" type="text/css" media="print" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="@Url.Content("~/Content/")assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="stylesheet" th:href="@{/plugins/fullcalendar/fullcalendar/fullcalendar.css}"/>
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="index.html">
                    <img th:src="@{/images/logo-maverus.png}" width="45px" height="45px"/>  AltaPim
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: NOTIFICATION DROPDOWN -->
                    <li class="dropdown">
                     
                        <ul class="dropdown-menu notifications">
                            <li>
                                <span class="dropdown-menu-title"> You have 11 notifications</span>
                            </li>
                            <li>
                                
                            </li>
                            <li class="view-all">
                                <a href="javascript:void(0)">
                                    See all notifications <i class="fa fa-arrow-circle-o-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /* end: NOTIFICATION DROPDOWN */ -->
                    <!-- /* start: USER DROPDOWN */ -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <img src="../assets/images/avatar-1-small.jpg" class="circle-img" alt=""/>
                            <span class="username">Altasio User</span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="clip-user-2"></i>
                                    &nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="../index.html">
                                    <i class="clip-exit"></i>
                                    &nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: USER DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- /* start: SIDEBAR */ -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu">
                      <li>
                        <a th:href="@{/home}">
                            <i class="clip-home-3"></i>
                            <span class="title"> Dashboard </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="active open">
                        <a th:href="@{/matchmodule}">
                            <i class="clip-pencil"></i>
                            <span class="title"> Module Match</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li >
                        <a href="#">
                            <i class="clip-grid"></i>
                            <span class="title"> Scraping Module</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                       <a href="#">
                            <i class="clip-grid-6"></i>
                            <span class="title"> Project Progress</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-book"></i>
                            <span class="title"> Inventory</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                     <li>
                        <a href="../index.html">
                            <i class="clip-exit"></i>
                            <span class="title"> Log Out</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-home-3"></i>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li class="active">
                                Dashboard
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching..."/>
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>Module Match </h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
               <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                      <div class="jumbotron">
                       <center> <h2>Categorization <br/> Module</h2></center>
                        <center>
                            <a th:href="@{/matchmodule/categorization/}"><img th:src="@{/images/categorization.png}" style=" width:100%; "/></a>
                        </center>
                         
                    </div>   
                    </div>
                    <div class="col-md-4">
                    <div class="jumbotron">
                        <center><h2>Attributes <br/> Module</h2></center>
                        <center>
                            <a href="#"><img th:src="@{/images/attributes.png}" style=" width:100%; "/></a>
                        </center>
                       
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="jumbotron">
                        <center><h2>Images <br/> Module</h2></center>
                        <center>
                            <a href="#"><img th:src="@{/images/images.png}" style=" width:100%; "/></a>
                        </center>
                       
                    </div>
                    </div>
                    </div>
               </div>
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2016 &copy; Altasio AltaPim | Altasio LLC All rights reserved.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/")assets/plugins/respond.min.js"></script>
    <script src="@Url.Content("~/Content/")assets/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")assets/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script th:src="@{/plugins/jQuery-lib/2.0.3/jquery.min.js}"></script>
    <!--<![endif]-->
   	<script th:src="@{/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"></script>
	<script th:src="@{/plugins/blockUI/jquery.blockUI.js}"></script>
	<script th:src="@{/plugins/iCheck/jquery.icheck.min.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/src/jquery.mousewheel.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js}"></script>
	<script th:src="@{/plugins/less/less-1.5.0.min.js}"></script>
	<script th:src="@{/plugins/jquery-cookie/jquery.cookie.js}"></script>
	<script th:src="@{/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js}"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script th:src="@{/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/plugins/flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/plugins/flot/jquery.flot.resize.min.js}"></script>
    <script th:src="@{/plugins/jquery.sparkline/jquery.sparkline.js}"></script>
    <script th:src="@{/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js}"></script>
    <script th:src="@{/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/plugins/fullcalendar/fullcalendar/fullcalendar.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
            jQuery(document).ready(function() {
                Main.init();
                Index.init();
            });
    </script>
</body>
<!-- end: BODY -->
</html>