<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Project | Altasio LLC</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/main-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/skins/all.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme_light.css}" type="text/css" id="skin_color"/>
    <link rel="stylesheet" th:href="@{/css/print.css}" type="text/css" media="print" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="../../assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/select2/select2.css}" />
    <link rel="stylesheet" th:href="@{/plugins/DataTables/media/css/DT_bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css}"/>
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="index.html">
                    <img th:src="@{/images/logo-maverus.png}" width="45px" height="45px"/>  AltaPim
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: NOTIFICATION DROPDOWN -->
               
                    <!-- end: NOTIFICATION DROPDOWN -->
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <img th:src="@{/images/avatar-1-small.jpg}" class="circle-img" alt=""/>
                            <span class="username">Altasio User</span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="clip-user-2"></i>
                                    &nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="../../index.html">
                                    <i class="clip-exit"></i>
                                    &nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: USER DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
               <ul class="main-navigation-menu">
                    <li>
                        <a th:href="@{/home}">
                            <i class="clip-home-3"></i>
                            <span class="title"> Dashboard </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="active open">
                        <a th:href="@{/matchmodule}">
                            <i class="clip-pencil"></i>
                            <span class="title"> Module Match</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-grid-6"></i>
                            <span class="title"> Scraping Module</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-grid-6"></i>
                            <span class="title"> Project Progress</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-book"></i>
                            <span class="title"> Inventory</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-exit"></i>
                            <span class="title"> Log Out</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-pencil"></i>
                                <a href="#"> Upload </a>
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching..."/>
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>Create new project <small> Categorization Module</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- start: TEXT FIELDS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Upload
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form action="/Load/LoadExcel" role="form" method="post" class="form-horizontal" enctype="multipart/form-data">

                                    <!-- rename elements-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-8">
                                            Name Project
                                        </label>


                                        <div class="col-sm-9">
                                            <span class="input-help">
                                                <input id="project" name="project" class="form-control tooltips" type="text" placeholder="Enter the name proyect" required='true'/>
                                                <i class="help-button popovers" title="" data-content="More details." data-placement="right" data-trigger="hover" data-rel="popover" data-original-title="name project Information"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-8">
                                            Other
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea id="others" name="others" class="form-control"></textarea>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-8">
                                            Load Excel
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="form-control uneditable-input">
                                                    <i class="fa fa-file fileupload-exists"></i>
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <div class="input-group-btn">
                                                    <div class="btn btn-light-grey btn-file">
                                                        <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> Select file</span>
                                                        <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> Change</span>
                                                        <input type="file" name="excelfile" id="excelfile" class="file-input" required='true'/>

                                                    </div>


                                                    <a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
                                                        <i class="fa fa-times"></i> Remove
                                                    </a>

                                                </div>

                                            </div>
                                            

                                            <div style="color: dodgerblue">
                                                <p>The file must contain: ClienttUID,ItemID, Supplier, PartNumber </p> 
                                                <p>You can download template <a href="#">here</a> </p>
                                            </div>

                                        </div>


                                    </div>
                                    <center>
                                        <button class="btn btn-blue">
                                            <a href="LoadData.html">Preview</a> <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </center>
                                </form>

                            </div>
                        </div>
                        <!-- end: TEXT FIELDS PANEL -->
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- end: PAGE -->
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2016 &copy; Altasio AltaPim | Altasio LLC All rights reserved.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="../../assets/plugins/respond.min.js"></script>
    <script src="../../assets/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script th:src="@{/plugins/jQuery-lib/2.0.3/jquery.min.js}"></script>
    <!--<![endif]-->
   	<script th:src="@{/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"></script>
	<script th:src="@{/plugins/blockUI/jquery.blockUI.js}"></script>
	<script th:src="@{/plugins/iCheck/jquery.icheck.min.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/src/jquery.mousewheel.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js}"></script>
	<script th:src="@{/plugins/less/less-1.5.0.min.js}"></script>
	<script th:src="@{/plugins/jquery-cookie/jquery.cookie.js}"></script>
	<script th:src="@{/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js}"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-mockjax/jquery.mockjax.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/select2/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/DataTables/media/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/DataTables/media/js/DT_bootstrap.js}"></script>
    <script th:src="@{/js/table-data.js}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
            jQuery(document).ready(function() {
                Main.init();
                TableData.init();
            });
    </script>
</body>
<!-- end: BODY -->
</html>
