<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Login | Altasio LLC</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/main-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/iCheck/skins/all.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme_light.css}" type="text/css" id="skin_color"/>
    <link rel="stylesheet" th:href="@{/css/print.css}" type="text/css" media="print" />
    <!--[if IE 7]>.6
    <link rel="stylesheet" href="@Url.Content("~/Content/")assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example2">
    <div class="main-login col-sm-4 col-sm-offset-4">
        <div class="logo">
            <img th:src="@{/images/logo-maverus.png}" width="100px"/>
        </div>
        <!-- start: LOGIN BOX -->

        <div class="box-login" style="display: block;">
            <h3>Sign in to your account</h3>
            <p>
                Please enter your name and password to log in.
            </p>
            <form>
                <div>
                    <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                </div>
                <fieldset>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username"/>
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon">
                            <input type="password" class="form-control password" name="password" id="password" placeholder="Password"/>
                            <i class="fa fa-lock"></i>
                            <a class="forgot" href="#">
                                I forgot my password
                            </a>
                        </span>
                    </div>
                    <div>
                        <label for="remember" class="checkbox-inline">
                            <input type="checkbox" class="grey remember" id="remember" name="remember"/>
                            Keep me signed in
                        </label>
                        <button type="submit" id="loginButton" class="btn btn-bricky pull-right">
                           Login <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <div class="new-account">
                        Please do not forget to check your information.
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- end: LOGIN BOX -->

        <!-- start: FORGOT BOX
        <div class="box-login" style="display: block;">
            <h3>Forget Password?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <form class="form-forgot">
                <div class="errorHandler alert alert-danger no-display">
                    <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                </div>
                <fieldset>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <div class="form-actions">
                        <a class="btn btn-light-grey go-back">
                            <i class="fa fa-circle-arrow-left"></i> Back
                        </a>
                        <button type="submit" class="btn btn-bricky pull-right">
                            Submit <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
     end: FORGOT BOX -->
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            <BR/>
            2016 &copy; Altasio LLC All rights reserved.
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/")assets/plugins/respond.min.js"></script>
    <script src="@Url.Content("~/Content/")assets/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")assets/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
	<script th:src="@{plugins/jQuery-lib/2.0.3/jquery.min.js}"></script>
	<!--<![endif]-->
	<script th:src="@{plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js}"></script>
	<script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"></script>
	<script th:src="@{plugins/blockUI/jquery.blockUI.js}"></script>
	<script th:src="@{plugins/iCheck/jquery.icheck.min.js}"></script>
	<script th:src="@{plugins/perfect-scrollbar/src/jquery.mousewheel.js}"></script>
	<script th:src="@{plugins/perfect-scrollbar/src/perfect-scrollbar.js}"></script>
	<script th:src="@{plugins/less/less-1.5.0.min.js}"></script>
	<script th:src="@{plugins/jquery-cookie/jquery.cookie.js}"></script>
	<script th:src="@{plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js}"></script>
	<script th:src="@{js/main.js}"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script th:src="@{/plugins/jquery-validation/dist/jquery.validate.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- JAVASCRIPTS FOR AJAX CALLS -->
    <script th:src="@{/js/rest.js}"></script>
    <script>
			jQuery(document).ready(function() {
				Main.init();
				Login.init();
			});
    </script>
</body>
<!-- end: BODY -->
</html>
